#index-section-one {
    display: flex;
    padding: 100px;
    max-width: 1000px;
    height: 500px;
    gap: 80px;
    justify-content: space-around;
    align-content: center;
}

#index-section-one-text {
    text-align: justify;
    height: 100%;
    display: flex;
    align-items: center;
}

#index-section-two {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    width: 500px;
    background: url('../figures/indexFigure2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@media only screen and (max-width: 768px) {
    #index-section-one {
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
        padding: 50px;
        gap: 40px;
        justify-content: space-around;
        align-content: center;
    }

    #index-section-two {
        width: 80vw;
    }
}