@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Inter:wght@100..900&display=swap');

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.aguafina-script-regular {
    font-family: "Aguafina Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.main-color {
    background-color: #81BB5D;
    color: #fff;
}


#footer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    padding: 100px;
}

#footer-section-logo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#footer-section-logo-text {
    font-size: 60pt;
}


@media only screen and (max-width: 768px) {
    #footer-section {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
        gap: 40px;
    }
    
    #footer-section-logo {
        justify-content: center;
    }
}